*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  font-size: 25px;
  position: relative;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black ;
  animation: showRight 1s ease forwards;
  animation-delay: .4s;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover, .navbar a.active{
  color: #00abf0;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('home.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items:center;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}





/* Animation Keyframes */
@keyframes showRight{
  100%{
    width: 0%;
  }
}